/*GLOBAL*/
* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  background: #fff;
}
.selector-for-some-widget {
  box-sizing: content-box;
}

/*NAV BAR*/

nav {
  background: #004635;
  color: #fff;
  height: 90px;
  width: 100%;
}

nav:after {
  content: "";
  clear: both;
  display: table;
}

nav .logo {
  float: left;
  padding: 15px 50px;
}

nav ul {
  float: right;
  margin-right: 40px;
  list-style: none;
  position: relative;
}

nav ul li {
  float: left;
  display: inline-block;
  margin: 0 5px;
  background: #004635;
}

nav ul li a {
  color: white;
  line-height: 80px;
  font-size: 18px;
  padding: 8px 15px;
  text-decoration: none;
}

nav ul li a:hover {
  color: #72cc51;
  border-radius: 5px;
  box-shadow: 0 0 5px #d1ec39;
}

nav ul ul {
  position: absolute;
  top: 90px;
  border-top: 3px solid #72cc51;
  opacity: 0;
  visibility: hidden;
  transition: top 0.3s;
}

nav ul li:hover > ul {
  opacity: 1;
  visibility: visible;
}

nav ul ul li {
  position: relative;
  margin: 0px;
  width: 150px;
  float: none;
  display: list-item;
  border-bottom: 1.5px solid #06513e;
}

nav ul ul li a {
  line-height: 50px;
}
nav ul ul li a:hover {
  box-shadow: none;
}

/*.show,
.checkbtn,
/*input {
  display: none;
}*/

@media screen and (max-widht: 960px) {
  nav ul {
    margin-right: 0px;
    float: left;
  }

  nav .logo {
    padding-left: 30px;
    width: 100%;
  }

  .show + a,
  ul {
    display: none;
  }

  nav ul li,
  nav ul ul li {
    display: block;
    width: 100%;
  }

  nav ul li a:hover {
    box-shadow: none;
  }

  .show {
    display: block;
    color: #fff;
    font-size: 18px;
    padding: 0 20px;
    line-height: 70px;
  }
  .show:hover {
    color: #d1ec39;
  }
  .checkbtn {
    display: block;
    color: #fff;
    position: absolute;
    top: 0;
    right: 40px;
    line-height: 70px;
    cursor: pointer;
    font-size: 25px;
  }

  nav ul ul {
    top: 70px;
    border-top: 0px;
    float: none;
    position: static;
    display: none;
    opacity: 1;
    visibility: visible;
  }

  nav ul ul a {
    padding-left: 40px;
  }

  [id^="btn"]:checked + ul {
    display: block;
  }

  nav ul ul li {
    border-bottom: 0px;
  }

  i.cancel:before {
    content: "\f00d";
  }
}

/*FOOTER*/
footer {
  background-color: #004635;
  color: #fff;
  font-family: "Poppins", sans-serif;
  text-align: center;
  padding: 15px 25px;
}

footer div a {
  text-decoration: none;
}

.f-link {
  color: #72cc51;
}

/*Josh*/

.container1 {
  max-width: 700px;
  width: 100%;
  padding: 25px 35px;
  border-radius: 40px;
  background: #00aeac;
  border: solid black 2px;
  margin: 10px;
}

.container1 .heading {
  font-size: 25px;
  font-weight: 500;
  position: relative;
  text-align: center;
  padding: 2px;
}

.container1 form .booking-details {
  margin-top: 25px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.container1 .booking-details .deatails-box {
  width: 300px;
  margin-bottom: 15px;
}

.booking-details .deatails-box .details {
  display: block;
  font-weight: 500;
  margin-bottom: 5px;
}

.booking-details .deatails-box input {
  position: relative;
  width: 90%;
  border: 2px solid gray;
  border-radius: 10px;
  transition: ease-out 0.5s;
  height: 30px;
}

.booking-details .pax input {
  position: relative;
  width: 70%;
  border: 2px solid gray;
  border-radius: 10px;
  transition: ease-out 0.5s;
  height: 30px;
  padding: 5px;
}

.booking-details .pax .details {
  display: block;
  font-weight: 500;
  margin-bottom: 5px;
  margin-right: 80px;
}

.button {
  display: block;
  margin-top: 10px;
}

input[type="Submit"] {
  position: relative;
  padding: 10px;
  font-size: 12px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  background-color: green;
  color: white;
  border: none;
  border-radius: 20px;
  top: 10px;
}

input[type="reset"] {
  position: relative;
  padding: 10px;
  font-size: 12px;
  cursor: pointer;
  text-decoration: none;
  background-color: green;
  color: white;
  border: none;
  border-radius: 20px;
  top: 10px;
}

/*imghome*/
.imghome {
  width: 100%;
  overflow: hidden;
}

/*HOMEpage*/

h1 {
  font-family: "Poppins", sans-serif;
  justify-content: center;
  text-align: center;
  margin: 25px;
  padding: 25px 30px;
}

h2 {
  font-family: "Poppins", sans-serif;
  justify-content: center;
  text-align: center;
  border-bottom: 2px solid #004635;
  padding: 10px 25px;
  margin: 10px 25px;
}

.icon {
  font-size: 3em;
  color: #72cc51;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 25px;
}
p {
  font-family: "Montserrat", sans-serif;
  padding: 25px;
}

/*IMG About Us*/
.imgAbtUs {
  border-radius: 25px;
  width: 50%;
  height: 50%;
  float: left;
}

/*About Us*/
.abtUs {
  padding: 20px;
  width: 100%;
}
.txtAbtUs {
  padding: 20px;
  float: left;
}

/*Cork Page*/

.img-cork {
  width: 100%;
  border-radius: 15%;
  margin: 10px;
}

.maps {
  border-radius: 15%;
  padding: 25px;
}

.txt-cork {
  padding: 25px;
}

.icon-3 {
  font-size: 3em;
  color: #72cc51;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 25px;
}

h3 {
  justify-content: center;
  text-align: center;
  margin: 25px;
  padding: 25px 30px;
  display: flex;
}
