body {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
}
/*NAV BAR*/
.navbar-brand {
  padding: 0px;
  margin: 10px;
}

.navbar-nav {
  align-items: center;
}

.nav-link {
  color: #fff;
  font-size: 1.25em;
  padding: 0 4em;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
}
